body {
    background: rgb(255, 119, 237);
}

h1 {
    color: brown;
    font-size: 50px;
    text-align: center;
}

h2 {
    color: brown;
    font-size: 40px;
    text-align: center;
}

p {
    color: DarkGreen;
    font-size: 20px;
    margin: 30px;
    font-family: "Comic Sans MS", cursive;
}

ol {
    color: DarkGreen;
    font-size: 20px;
    margin: 5px;
    font-family: "Comic Sans MS", cursive;
}

.content {
    margin: 20px;
    padding: 20px;
    display: flex;
}

.content-left {
    background: #F4A460;
    margin-right: 10px;
    padding: 20px;
    width: 60%;
    border-radius: 8px;
}

.content-right {
    background: #8accf5;
    margin-left: 10px;
    padding: 20px;
    width: 35%;
    border-radius: 8px;
}

.image1 {
    width: 400px;
    height: 300px;
}